---
title: Upgrade Preparation Checklist for Pivotal Platform v2.8
owner: Ops Manager
---

<% current_page.data.title = "Upgrade Preparation Checklist for " + vars.platform_name + " " + vars.v_major_version %>

This topic serves as a checklist for preparing to upgrade <%= vars.platform_name %> from v2.7 to <%= vars.v_major_version %>.

This topic contains important preparation steps that you must follow before beginning your upgrade. Failure to follow these instructions may jeopardize your existing deployment data and cause the upgrade to fail.

After completing the steps in this topic, you can continue to [Upgrading <%= vars.platform_name %>](../customizing/upgrading-pcf.html).

<p class="note warning"><strong>Warning:</strong> Pivotal does not recommend that you skip minor versions when upgrading <%= vars.platform_name %>. Skipping minor versions when upgrading <%= vars.platform_name %> may result in breaking changes. To avoid additional breaking changes, upgrade <%= vars.platform_name %> to the minor version that directly follows your current version of <%= vars.platform_name %>.</p>


## <a id="back-up-your-pcf-deployment"></a> Back Up Your <%= vars.platform_name %> Deployment

Pivotal recommends backing up your <%= vars.platform_name %> deployment before upgrading, to restore in the case of failure. To do this, follow the instructions in [Backing Up <%= vars.platform_name %> with BBR](../customizing/backup-restore/backup-pcf-bbr.html).


## <a id='decryption-passphrase'></a> Find Your Decryption Passphrase for Pivotal Operations Manager

To complete the Ops Manager upgrade, you must have your Ops Manager decryption passphrase. You defined this decryption passphrase during the initial installation of Ops Manager.


## <a id="review-pas-release-notes"></a> Review Changes in <%= vars.platform_name %> <%= vars.v_major_version %>

Review each of the following links to understand the changes in the new release, such as new features, known issues, and breaking changes.

* **Release Notes**
	* [Pivotal Operations Manager <%= vars.v_major_version %> Release Notes](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/release-notes/opsmanager-rn.html)
	* [PAS <%= vars.v_major_version %> Release Notes](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/release-notes/runtime-rn.html)
* **Known Issues**
	* [Ops Manager <%= vars.v_major_version %> Known Issues](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/release-notes/opsmanager-rn.html#known-issues)
	* [PAS <%= vars.v_major_version %> Known Issues](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/release-notes/runtime-rn.html#known-issues)
* **Breaking Changes**
	* [<%= vars.product_name %> <%= vars.v_major_version %> Breaking Changes](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/release-notes/breaking-changes.html)
* **KPI Changes**
	* [KPI Changes](../monitoring/index.html#new)
* **Diego Network Communications**:
	* [Diego Network Communications](../../security/networking/diego-network-paths.html)	

## <a id="tiles-addons"></a> Update Tiles and Add-Ons

The following section describes changes you must make to your product tiles and add-ons before upgrading <%= vars.platform_name %>.

### <a id="compatibility"></a> Review Service Tile Compatibility

Before you upgrade, check whether the service tiles that you currently have are compatible with the new version of <%= vars.platform_name %>.

To check <%= vars.platform_name %> versions supported by a service tile, either from Pivotal or a Pivotal partner:

* Navigate to the tile's download page on [Pivotal Network](https://network.pivotal.io).
* Select the tile version in the **Releases** dropdown.
* See the **Depends On** section under **Release Details**. For more information, see the tile's release notes.

If the currently-deployed version of a tile is not compatible with <%= vars.platform_name %> <%= vars.v_major_version %>, you must upgrade the tile to a compatible version before you upgrade <%= vars.platform_name %>. You do not need to upgrade tiles that are compatible with both <%= vars.platform_name %> v2.7 and <%= vars.v_major_version %>.

Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>. Pivotal works with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>. For more information about which partner service release compatibility, review the **Depends On** section of the partners tile download page, the partners services release documentation in [Pivotal Documentation](https://docs.pivotal.io), or contact the partner organization that produces the service tile.

The [Product Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) provides an overview of which <%= vars.platform_name %> versions support which versions of the most popular service tiles from Pivotal.

#### <a id="env"></a> Environment Details

Pivotal provides the empty table below as a model to print out or adapt for recording and tracking the tile versions that you have deployed in all of your environments.

|                                                                         |                                                                  | **Sandbox** | **Non-Prod** | **Prod** | **Other...** |
| ----------------------------------------------------------------------- | ---------------------------------------------------------------- | ------------ | ------------- | -------- | ------------ |
| **<%= vars.platform_name %>**                                                   | [Ops Manager](https://network.pivotal.io/products/ops-manager) |              |               |          |              |
|                                                                         | [Pivotal Application Service](https://network.pivotal.io/products/elastic-runtime) (PAS)     |              |               |          |              |
| **<%= vars.platform_name %> Services**         | [MySQL v2](https://network.pivotal.io/products/pivotal-mysql)                                                            |              |               |          |              |
|                                                                         | [Redis](https://network.pivotal.io/products/p-redis)                                                            |              |               |          |              |
|                                                                         | [RabbitMQ](https://network.pivotal.io/products/p-rabbitmq)                                                         |              |               |          |              |
|                                                                         | [Single Sign On](https://network.pivotal.io/products/p-identity) (SSO)                                                              |              |               |          |              |
|                                                                         | [Spring Cloud Services](https://network.pivotal.io/products/p-spring-cloud-services)                                            |              |               |          |              |
|                                                                         | [Concourse](https://network.pivotal.io/products/p-concourse)                                                        |              |               |          |              |
|                                                                         | ...                                                              |              |               |          |              |
| **<%= vars.platform_name %> Partner Services** | [New Relic](https://network.pivotal.io/products/p-new-relic)                                                        |              |               |          |              |
|                                                                         | ...                                                           |              |               |          |              |


### <a id="upgrade-service-tiles"></a> Upgrade Services Tiles

Upgrade all service tiles to versions that are compatible with <%= vars.platform_name %> <%= vars.v_major_version %>. Service tiles are add-on products you install alongside your runtime. For example, MySQL for <%= vars.platform_name %>, <%= vars.platform_name %> Healthwatch, and RabbitMQ are service tiles.

Do not upgrade runtime tiles, such as PAS, PAS for Windows, or Pivotal Container Service (PKS), at this time.

Review the [Compatibility Matrix](http://docs.pivotal.io/resources/product-compatibility-matrix.pdf) and tile documentation to check version compatibility.

### <a id='bosh-director'></a> Configure BOSH Director

With each release of a new <%= vars.platform_name %> version, BOSH Director may require specific updates before upgrading to the new version. See the following sections for actions to take before upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>:

#### <a id="check-specs"></a> Check Required Machine Specifications

Check the required machine specifications for Ops Manager <%= vars.v_major_version %>. These specifications are specific to your IaaS. If these specifications do not match your existing Ops Manager, modify the values of your Ops Manager VM instance. For example, if the boot disk of your existing Ops Manager is 50&nbsp;GB and the new Ops Manager requires 100&nbsp;GB, increase the size of your Ops Manager boot disk to 100&nbsp;GB.

### <a id='patch'></a> Configure PAS

With each release of a new <%= vars.platform_name %> version, PAS may require specific updates before upgrading to the new version. See the following sections for what action to take before upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>:

#### <a id="disable-unused-errands"></a> (Optional) Disable Unused Errands

To save upgrade time, you can disable unused PAS post-deploy errands. See the [Post-Deploy Errands](https://docs.pivotal.io/tiledev/<%= product_info['local_product_version'].to_s.sub('.','-') %>/tile-errands.html#post-deploy) section of the Errands topic for details. Only disable these errands if your environment does not need them.

In some cases, if you have previously disabled lifecycle errands for any installed product to reduce deployment time, you may want to re-enable these errands before upgrading. For more information, see [Adding and Deleting Products](../customizing/add-delete.html#add-import).

#### <a id="groot-gc"></a> Configure Diego Cell Garbage collection

In the PAS tile **App Containers** pane, if **Docker images disk cleanup scheduling on Diego Cell VMs** is set to **Clean up disk space once usage fills disk** and the value of **Reserved disk space for other jobs** is different from the default of `10240`, you must specify a new threshold.

If the scheduling is set to **Never clean up Diego Cell disk space** or **Routinely clean up Diego Cell disk space**, or the reserved disk space value is set to the default of `10240`, no action is necessary. All thresholds will migrate to a sensible value when you upgrade PAS. For more information, see [Options for Disk Cleanup](../opsguide/config-cell-cleanup.html).

#### <a id="disable-hostname-verification"></a> Disable Hostname Verification for External CredHub Databases on GCP and Azure

This pre-upgrade step applies only to PAS v2.7 deployments where all of the following conditions are met:

* In the **Databases** pane, PAS is configured to use an external GCP or Azure database.
* In the **Resource Config** pane, the number of CredHub instances in PAS is set to 0.
* You want CredHub to use the same external GCP or Azure database configured in the **Databases** pane.

If you meet these conditions, you must select **Disable hostname verification** under **Other external database** in the **CredHub** pane of PAS v2.7 before you upgrade to PAS v2.8.

For more information on CredHub database configuration in PAS v2.7, see [Configure CredHub](https://docs.pivotal.io/platform/application-service/2-7/operating/configure-pas.html#credhub).

Failure to disable hostname verification can cause the upgrade to fail for deployments that use external databases on GCP or Azure.

#### <a id="minimum-credhub-instances"></a> Configure CredHub Instances

In <%= vars.platform_name %> <%= vars.v_major_version %> and later, at least one CredHub instance is required to deploy PAS. In PAS v2.8, the default number of CredHub instances is increased from `0` to `2`.

For high availability, Pivotal recommends that you use at least one CredHub instance per availability zone (AZ). Or, if you have only one AZ, use at least three CredHub instances.

### <a id="stemcell-compat"></a> Check OS Compatibility of BOSH-Managed Add-Ons and Tiles

Before upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>, operators who have deployed any <%= vars.platform_name %> add-ons such as **IPsec for <%= vars.platform_name %>**, **ClamAV for <%= vars.platform_name %>**, or **File Integrity Monitoring for <%= vars.platform_name %>** and who have deployed or are planning to deploy PAS for Windows must modify the add-on manifest to specify a compatible OS stemcell. For more information, see [Pivotal Application Service for Windows](https://docs.pivotal.io/platform/application-service-windows/index.html).

For example, **File Integrity Monitor for <%= vars.platform_name %>** (FIM) is not supported on Windows. Therefore, the manifest must use an `include` directive to specify the target OS stemcell of `ubuntu-trusty` and `ubuntu-xenial`.

<p class="note"><strong>Note:</strong> To upgrade to a Xenial stemcell, see the documentation for each add-on and follow the instructions.</p>

To update an add-on manifest:

1. Locate your existing add-on manifest file. For example, for FIM, locate the `fim.yml` you uploaded to the Ops Manager VM.

1. Modify the manifest to include following `include` directive to your manifest:

    ```yml
      include:
        stemcell:
          - os: ubuntu-xenial
    ```

1. Upload the modified manifest file to your <%= vars.platform_name %> deployment. For example instructions, see [Create the FIM Manifest](https://docs.pivotal.io/addon-fim/index.html#create-mfest).

If you use any other BOSH-managed add-ons in your deployment, you should verify OS compatibility for those component as well. For more information about configuring BOSH add-on manifests, see the [BOSH documentation](https://bosh.io/docs/runtime-config.html#addons).

### <a id="azure-blobstore-addon"></a> Check Backup and Restore External Blobstore Add-On

If you have enabled external blobstore backups for an Azure Blobstore using the blobstore add-on, you must update your runtime configuration to remove the `sdk-preview` add-on before upgrading. If you do not remove this job, upgrading PAS fails with the error:

<pre>
Preparing deployment: Preparing deployment (00:00:01)
  L Error: Colocated job 'azure-blobstore-backup-restorer' is already added to the instance group 'backup-restore'.
</pre>

After removing this job from your runtime configuration, ensure that the **Enable backup and restore** checkbox is enabled in the **File Storage** pane in PAS.

For more information, see the [Azure Blobstores](../../customizing/backup-restore/enabling-external-blobstore-backups.html#azure) section of the _Enabling External Blobstore Backups_ topic.


## <a id="cert-expiry"></a> Check Certificate Authority Expiration Dates

Depending on the requirements of your deployment, you may need to rotate your Certificate Authority (CA) certificates. The non-configurable certificates in your deployment expire every two years. You must regenerate and rotate them so that critical components do not face a complete outage.

<p class="note"><strong>Note:</strong> <%= vars.platform_name %> uses SHA-2 certificates and hashes by default. You can convert existing SHA-1 hashes into SHA-2 hashes by rotating your Ops Manager certificates using the procedure described in the <a href="../security/pcf-infrastructure/api-cert-rotation.html#rotate-saml-ca">Rotate Identity Provider SAML Certificates</a> section of the <em>Rotating Certificates</em> topic.</p>

To retrieve information about all the RSA and CA certificates for the BOSH Director and other products in your deployment, you can use the `GET /api/v0/deployed/certificates?expires_within=TIME` request of the Ops Manager API.

In this request, the `expires_within` parameter is optional. Valid values for the parameter are `d` for days, `w` for weeks, `m` for months, and `y` for years. For example, to search for certificates expiring within one month, replace `TIME` with `1m`:

<pre class="terminal">$ curl "https://OPS-MAN-FQDN/api/v0/deployed/certificates?expires_within=1m" \
 -X GET \
 -H "Authorization: Bearer UAA_ACCESS_TOKEN"
</pre>

For information about regenerating and rotating CA certificates, see [Managing TLS Certificates](../security/pcf-infrastructure/api-cert-rotation.html).


## <a id="capacity"></a> Check the Capacity of Your Deployment

The following sections describe steps for ensuring your deployment has adequate capacity to perform the upgrade.

### <a id="confirm-om-disk"></a> Confirm Adequate Disk Space

<%= partial 'check_disk_before_upgrade' %>

### <a id="check-diego-cell-ram-and-disk"></a> Check Diego Cell RAM and Disk

Check that Diego Cells have sufficient available RAM and disk capacity to support app containers.

The KPIs that monitor these these resources are are:

* `rep.CapacityRemainingMemory`
* `rep.CapacityRemainingDisk`

### <a id="adjust-diego-cell-limits"></a> Adjust Diego Cell Limits

If needed, adjust the maximum number of Diego Cells that the platform can upgrade simultaneously, to avoid overloading the other Cells. For more information, see [Limit <%= vars.platform_name %> Component Instances During Restart](./configuring.html#limit-restart).

For <%= vars.platform_name %> v1.10 and later, the maximum number of Diego Cells that can update at once, `max_in_flight` is 4%. This setting is configured in the BOSH manifest's Diego Cell definition. For more information, see the [Prevent Overload](./configuring.html#limitations-considerations) section of the _Configuring PAS for Upgrades_ topic.

For more information about these KPIs, see the [Diego Cell Metrics](../monitoring/kpi.html#cell) section of the _Key Performance Indicators_ topic.

### <a id="storage"></a> Review File Storage IOPS and Other Upgrade Limiting Factors

During the <%= vars.platform_name %> upgrade process, a large quantity of data is moved around on disk.

To ensure a successful upgrade of <%= vars.platform_name %>, verify that your underlying PAS file storage is performant enough to handle the upgrade. For more information about the configurations to evaluate, see the [Configure File Storage](../upgrading/configuring.html#file-storage) section of the _Configuring PAS for Upgrades_ topic.

In addition to file storage IOPS, consider additional existing deployment factors that can impact overall upgrade duration and performance:

|**Factor**|**Impact**|
|----------|----------|
|**Network latency**| Network latency can contribute to how long it takes to move app instance data to new containers. |
|**Number of ASGs**| A large number of [App Security Groups](../concepts/asg.html) in your deployment can contribute to an increase in app instance container startup time. |
|**Number of app instances and app growth**| A large increase in the number of app instances and average droplet size since the initial deployment can increase the upgrade impact on your system. |

To review example upgrade-related performance measurements of an existing production <%= vars.platform_name %> deployment, see [Pivotal Web Services Performance During Upgrade](../opsguide/pws_upgrade_load.html).

### <a id="bosh-clean-up"></a> Run BOSH Clean-Up

Run `bosh -e ALIAS clean-up --all` to clean up old stemcells, releases, orphaned disks, and other resources before upgrade. This cleanup helps prevent the product and stemcell upload process from exceeding the BOSH Director's available persistent disk space.


## <a id="health"></a> Check the Health of Your Deployment

The following sections describe steps for ensuring your deployment is healthy before you perform the upgrade.

### <a id="collect-foundation-health-status"></a> Collect Foundation Health Status

For collecting foundation health status, Pivotal recommends <%= vars.platform_name %> Healthwatch, which monitors and alerts on the current health, performance, and capacity of <%= vars.platform_name %>. For more information, see the [<%= vars.platform_name %> Healthwatch documentation](https://docs.pivotal.io/pcf-healthwatch/index.html).

If you are not using <%= vars.platform_name %> Healthwatch, you can do some or all of the following to collect foundation health status:

* If your <%= vars.platform_name %> deployment has external metrics monitoring set up, verify that VM CPU, RAM, and disk use levels are within reasonable levels.

* Run BOSH CLI commands to check system status:
	* `bosh -e ALIAS -d DEPLOYMENT_NAME instances --ps`. <p>`bosh instances` with the flags `--ps`, `--vitals`, or `--failing` highlights individual job failure.</p>
	* `bosh -e ALIAS vms --vitals`. This reveals VMs with high CPU, high memory, high disk utilization, and with `state` != `running`.
	* `bosh -e ALIAS -d DEPLOYMENT_NAME cck --report`

* Check the **Status** tab of each PAS tile for VM CPU, RAM, and disk use levels.

* Validate Ops Manager persistent disk usage is below 50%. If not, follow the procedure in [Confirm Adequate Disk Space](#confirm-om-disk).

* (Optional) Check the logs for errors before proceeding with the upgrade. For more information, see [Viewing Logs in the Command Line Interface](../devguide/deploy-apps/streaming-logs.html#view).

### <a id="push-test-app"></a> Push and Scale a Test App

Check that a test app can be pushed and scaled horizontally, manually, or through automated testing. This check ensures that the platform supports apps as expected before the upgrade.

### <a id="validate-mysql-cluster-health"></a> Validate MySQL Cluster Health

If you are running PAS MySQL as a cluster, run the `mysql-diag` tool to validate health of the cluster.

For BOSH CLI v2 instructions, see [Running mysql-diag](../mysql/mysql-diag.html).

### <a id="check-health"></a> Review Pending and Recent Changes

To review pending and recent changes:

1. Confirm there are no outstanding changes in Ops Manager or any other tile. All tiles should be green. Click **Review Pending Changes**, then **Apply Changes** if necessary.

1. After applying changes, click **Recent Install Logs** to confirm that the changes completed cleanly:
    <pre>
    Cleanup complete
    {"type": "step\_finished", "id": "clean\_up\_bosh.cleaning\_up"}
    Exited with 0.
    </pre>


## <a id="export"></a> Export Your Installation

To export your installation:

1. In your Ops Manager **Installation Dashboard**, click the account dropdown and select **Settings**.

    <%= image_tag("./images/upgrade_to_1.9.png") %>

1. On the **Settings** screen, select **Export Installation Settings** from the left menu, then click **Export Installation Settings**.

    <%= image_tag("./images/export_install_settings.png") %>

This exports the current <%= vars.platform_name %> installation with all of its assets.

When you export an installation, the export contains the base VM images, necessary packages, and configuration settings, but does not include releases between upgrades if Ops Manager has already uploaded them to BOSH. When backing up <%= vars.platform_name %>, you must take this into account by backing up the BOSH blobstore that contains the uploaded releases. BOSH Backup and Restore (BBR) backs up the BOSH blobstore. For more information, see [Backing Up <%= vars.platform_name %> with BBR](../customizing/backup-restore/backup-pcf-bbr.html).

* The export time depends on the size of the exported file.
* Some browsers do not provide feedback on the status of the export process and might appear to hang.

<p class="note"><strong>Note:</strong> Some operating systems automatically unzip the exported installation. If this occurs, create a ZIP file of the unzipped export. Do not start compressing at the "installation" folder level. Instead, start compressing at the level containing the <code>config.yml</code> file:</p>

<%= image_tag("./images/compress.png") %>

<p class="note warning"><strong>Warning:</strong> If you do not perform the remedial steps for this issue, this upgrade process may corrupt your existing usage data.</p>


## <a id="next-steps"></a> Next Steps

Now that you have completed the Upgrade Preparation Checklist, continue to [Upgrading <%= vars.platform_name %>](../customizing/upgrading-pcf.html).


## <a id="survey"></a> Complete Survey

Please take some time to help us improve this document by completing the [Upgrade Checklist Survey](https://docs.google.com/forms/d/e/1FAIpQLScf9KuTbF3B9CjldMGqQxF-GA72xMR0DGzaGmhX4uWMrD8pOA/viewform?c=0&w=1).
