---
title: Upgrade Preparation Checklist for Ops Manager v2.10
owner: Ops Manager
---

<% current_page.data.title = "Upgrade Preparation Checklist for " + vars.platform_name + " " + vars.v_major_version %>

This topic serves as a checklist for preparing to upgrade <%= vars.ops_manager %> and
<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) from v2.9 to <%= vars.v_major_version %>.

This topic contains important preparation steps that you must follow before beginning your upgrade. Failure to follow these instructions may jeopardize your existing deployment data and cause the upgrade to fail.

After completing the steps in this topic, you can continue to [Upgrading <%= vars.platform_name %>](../customizing/upgrading-pcf.html).

<p class="note warning"><strong>Warning:</strong> <%= vars.company_name %> does not recommend that you skip minor versions when upgrading <%= vars.platform_name %>. Skipping minor versions when upgrading <%= vars.platform_name %> may result in breaking changes. To avoid additional breaking changes, upgrade <%= vars.platform_name %> to the minor version that directly follows your current version of <%= vars.platform_name %>.</p>


## <a id="back-up-your-pcf-deployment"></a> Back Up Your <%= vars.platform_name %> Deployment

<%= vars.company_name %> recommends backing up your <%= vars.platform_name %> deployment before upgrading, to restore in the case of failure. To do this, follow the instructions in [Backing Up Deployments with BBR](../customizing/backup-restore/backup-pcf-bbr.html).


## <a id='decryption-passphrase'></a> Find Your Decryption Passphrase for <%= vars.ops_manager %>

To complete the <%= vars.ops_manager %> upgrade, you must have your <%= vars.ops_manager %> decryption passphrase. You defined this decryption passphrase during the initial installation of <%= vars.ops_manager %>.


## <a id="review-runtime-release-notes"></a> Review Changes in <%= vars.platform_name %> <%= vars.v_major_version %>

Review each of the following links to understand the changes in the new release, such as new features, known issues, and breaking changes.

* **Release Notes**
	* [<%= vars.ops_manager %> <%= vars.v_major_version %> Release Notes](../../release-notes/opsmanager-rn.html)
	* [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](../../release-notes/runtime-rn.html)

* **Known Issues**
	* [<%= vars.ops_manager %> <%= vars.v_major_version %> Known Issues](../../release-notes/opsmanager-rn.html#known-issues)
	* [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Known Issues](../../release-notes/runtime-rn.html#known-issues)

* **Breaking Changes**
	* [<%= vars.ops_manager %> and Runtime Breaking Changes](../../release-notes/breaking-changes.html)

* **KPI Changes**
	* [KPI Changes](../monitoring/index.html#new)

* **Diego Network Communications**:
	* [Diego Network Communications](https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/networking/diego-network-paths.html)


## <a id="nsx-t"></a> Check VMware NSX-T Data Center Version

For vSphere deployments, the vSphere BOSH CPI that is included in <%= vars.ops_manager %> v2.9 no longer supports NSX-T v2.2 and earlier. If you are using NSX-T v2.2 or earlier, you must upgrade NSX-T to a supported version.

The specific version of NSX-T required for your deployment depends on which runtime you plan to deploy and integrate with NSX-T.

* For <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) deployments, see the [VMware Product Interoperability Matrices](https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&549=&175=).

* For <%= vars.app_runtime_abbr %> deployments, see the [Support Matrix: <%= vars.app_runtime_abbr %>,
  VMware NSX-T, and VMware NSX-T Container Plug-in](http://pas-nsx-t.cfapps.io/).


## <a id="tiles-addons"></a> Update Tiles and Add-Ons

These sections describe changes you must make to your product tiles and add-ons before upgrading <%= vars.platform_name %>.

### <a id="compatibility"></a> Review Service Tile Compatibility

Before you upgrade, check whether the service tiles that you currently have are compatible with the new version of <%= vars.platform_name %>.

To check all the service tiles in your current <%= vars.platform_name %> deployment, use [Upgrade Planner](https://upgrade-planner.pivotal.io/).

For information about how to use Upgrade Planner, see [Upgrade Planner](https://upgrade-planner.pivotal.io/docs).

Alternatively, you can do the following:

1. Navigate to the tile's download page on [<%= vars.product_network %>](https://network.pivotal.io).

1. Select the tile version in the **Releases** dropdown.

1. See the **Depends On** section under **Release Details**. For more information, see the tile's release notes.

If the currently-deployed version of a tile is not compatible with <%= vars.platform_name %> <%= vars.v_major_version %>, you must upgrade the tile to a compatible version before you upgrade <%= vars.platform_name %>. You do not need to upgrade tiles that are compatible with both <%= vars.platform_name %> v2.9 and <%= vars.v_major_version %>.

Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>.
For information about partner service tile compatibility,
review the **Depends On** section on your partner tile download page, see the tile release documentation in [VMware Tanzu Documentation](https://docs.pivotal.io), or contact the partner organization that produces the service tile.

#### <a id="env"></a> Environment Details

You can use the empty table below as a template for recording and tracking the tile versions that you have deployed in all of your environments.

|        |        | **Sandbox** | **Non-Prod** | **Prod** | **Other...** |
| ------ | ------ | ----------- | ------------ | -------- | ------------ |
| **<%= vars.platform_name %>** | [<%= vars.ops_manager %>](https://network.pivotal.io/products/ops-manager) |        |        |        |        |
|        | [<%= vars.app_runtime_full %>](https://network.pivotal.io/products/elastic-runtime) |        |        |        |        |
| **<%= vars.platform_name %> Services** | [MySQL](https://network.pivotal.io/products/pivotal-mysql) |        |        |        |        |
|        | [Redis](https://network.pivotal.io/products/p-redis) |        |        |        |        |
|        | [RabbitMQ](https://network.pivotal.io/products/p-rabbitmq) |        |        |        |        |
|        | [Single Sign On](https://network.pivotal.io/products/p-identity) (SSO) |        |        |        |        |
|        | [Spring Cloud Services](https://network.pivotal.io/products/p-spring-cloud-services) |        |        |          |        |
|        | [Concourse](https://network.pivotal.io/products/p-concourse) |        |        |        |        |
|        | ... |        |        |        |        |
| **<%= vars.platform_name %> Partner Services** | [New Relic](https://network.pivotal.io/products/p-new-relic) |        |        |        |        |
|        | ... |        |        |        |        |

### <a id="upgrade-service-tiles"></a> Upgrade Services Tiles

Upgrade all service tiles to versions that are compatible with <%= vars.platform_name %> <%= vars.v_major_version %>. Service tiles are add-on products you install alongside your runtime. For example, VMware Tanzu SQL [MySQL for VMs], Healthwatch, and RabbitMQ for VMware Tanzu [VMs] are service tiles.

Do not upgrade runtime tiles, such as <%= vars.app_runtime_abbr %>, <%= vars.windows_runtime_abbr %>, or <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) at this time.

To verify version compatibility, see [Upgrade Planner](https://upgrade-planner.pivotal.io/) and the service tile documentation.

### <a id='bosh-director'></a> Configure BOSH Director

With each release of a new <%= vars.platform_name %> version, BOSH Director may require specific updates before upgrading to the new version. For actions to take before upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>, see the sections below.

#### <a id="check-specs"></a> Check Required Machine Specifications

Check the required machine specifications for <%= vars.ops_manager %> <%= vars.v_major_version %>. These specifications are specific to your IaaS. If these specifications do not match your existing <%= vars.ops_manager %> deployment, modify the values of your <%= vars.ops_manager %> VM instance. For example, if the boot disk of your existing <%= vars.ops_manager %> deployment is 50&nbsp;GB and the new <%= vars.ops_manager %> deployment requires 100&nbsp;GB, increase the size of your <%= vars.ops_manager %> boot disk to 100&nbsp;GB.

### <a id='patch'></a> Configure <%= vars.app_runtime_abbr %>

With each release of a new <%= vars.platform_name %> version, <%= vars.app_runtime_abbr %> may require specific updates before upgrading to the new version. See the following sections for what action to take before upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>:

#### <a id='disable-hostname-validation'></a> Disable Hostname Validation for External Databases on GCP and Azure

This pre-upgrade step applies only to existing <%= vars.app_runtime_abbr %> v2.9 deployments where both of these conditions are met:

* In the **Databases** pane, <%= vars.app_runtime_abbr %> v2.9 is configured to use an external GCP or Azure database.

* In <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, you want to use the same external GCP or Azure database configured in the **Databases** pane.

* You enabled TLS communication for the GCP or Azure external database by adding a certificate authority (CA) certificate to the **Database CA certificate** field in the **Databases** pane.

If you meet these conditions, you must disable hostname validation before you upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>. Failure to disable hostname validation can cause the upgrade to fail for deployments that use external databases on GCP or Azure.

To disable hostname validation:

1. After you stage <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> for upgrade, go to the **Databases** pane in the <%= vars.app_runtime_abbr %> tile.

1. Deselect the **Enable hostname verification** checkbox. This checkbox is selected by default.

For more information about database configuration in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>,
see [Configure Databases](../../operating/configure-pas.html#sys-db) in _Configuring <%= vars.app_runtime_abbr %>_.

#### <a id="disable-unused-errands"></a> (Optional) Disable Unused Errands

To save upgrade time, you can disable unused <%= vars.app_runtime_abbr %> post-deploy errands. For more information, see [Post-Deploy Errands](https://docs.pivotal.io/tiledev/<%= product_info['local_product_version'].to_s.sub('.','-') %>/tile-errands.html#post-deploy) in _Errands_. Only disable these errands if your environment does not need them.

In some cases, if you have previously disabled lifecycle errands for any installed product
to reduce deployment time, you may want to re-enable these errands before upgrading.
For more information, see [Add and Import Products](../customizing/add-delete.html#add-import)
in _Adding and Deleting Products_.

### <a id="stemcell-compat"></a> Check OS Compatibility of BOSH-Managed Add-Ons and Tiles

Before upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>, operators who have deployed any BOSH-managed add-ons such as **IPsec**, **Anti-Virus**, or **File Integrity Monitoring** and who have deployed or are planning to deploy <%= vars.windows_runtime_abbr %> must modify the add-on manifest to specify a compatible OS stemcell. For more information, see [<%= vars.windows_runtime_full %>](https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/index.html).

For example, **File Integrity Monitor** (FIM) is not supported on Windows. Therefore, the manifest must use an `include` directive to specify the target OS stemcell of `ubuntu-trusty` and `ubuntu-xenial`.

<p class="note"><strong>Note:</strong> To upgrade to a Xenial stemcell, see the documentation for each add-on and follow the instructions.</p>

To update an add-on manifest:

1. Locate your existing add-on manifest file. For example, for FIM, locate the `fim.yml` you uploaded to the <%= vars.ops_manager %> VM.

1. Modify the manifest to include following `include` directive to your manifest:

    ```
      include:
        stemcell:
          - os: ubuntu-xenial
    ```

1. Upload the modified manifest file to your <%= vars.platform_name %> deployment. For example instructions, see [Installing File Integrity Monitoring on BOSH Director](https://docs.pivotal.io/addon-fim/2-0/installing-bosh.html) in the File Integrity Monitoring documentation.

If you use any other BOSH-managed add-ons in your deployment, you should verify OS compatibility for those component as well. For more information about configuring BOSH add-on manifests, see [Addons Block](https://bosh.io/docs/runtime-config.html#addons) in _Director Runtime Config_ in the BOSH documentation.

### <a id="azure-blobstore-addon"></a> Check Backup and Restore External Blobstore Add-On

If you have enabled external blobstore backups for an Azure Blobstore using the blobstore add-on, you must update your runtime configuration to remove the `sdk-preview` add-on before upgrading. If you do not remove this job, upgrading <%= vars.app_runtime_abbr %> fails with the error below:

```
Preparing deployment: Preparing deployment (00:00:01)
  L Error: Colocated job 'azure-blobstore-backup-restorer' is already added to the instance group 'backup-restore'.
```

After removing this job from your runtime configuration, ensure that the **Enable backup and restore** checkbox is enabled in the **File Storage** pane of the <%= vars.app_runtime_abbr %> tile.

For more information, see [Azure Blobstores](../customizing/backup-restore/enabling-external-blobstore-backups.html#azure) in _Enabling External Blobstore Backups_.


## <a id="cert-expiry"></a> Check Certificate Authority Expiration Dates

Depending on the requirements of your deployment, you may need to rotate your certificate authority (CA) certificates. The non-configurable certificates in your deployment expire every two years. You must regenerate and rotate them so that critical components do not face a complete outage.

<p class="note"><strong>Note:</strong> <%= vars.platform_name %> uses SHA-2 certificates and hashes by default. You can convert existing SHA-1 hashes into SHA-2 hashes by rotating your <%= vars.ops_manager %> certificates using the procedure described in <a href="https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/rotate-saml-ca.html">Rotate Identity Provider SAML Certificates</a> in <em>Rotating Certificates</em>.</p>

To retrieve information about all the RSA and CA certificates for the BOSH Director and other products in your deployment, you can run `GET /api/v0/deployed/certificates?expires_within=TIME` using the <%= vars.ops_manager %> API.

In this request, the `expires_within` parameter is optional. Valid values for the parameter are `d` for days, `w` for weeks, `m` for months, and `y` for years. For example, to search for certificates expiring within one month, run:

```
$ curl "https://OPS-MANAGER-FQDN/api/v0/deployed/certificates?expires_within=1m" \
 -X GET \
 -H "Authorization: Bearer UAA-ACCESS-TOKEN"
```

Where:

* `OPS-MANAGER-FQDN` is the fully-qualified domain name (FQDN) of your <%= vars.ops_manager %> deployment.
* `UAA-ACCESS-TOKEN` is your UAA access token.

For information about regenerating and rotating CA certificates, see [Managing TLS Certificates](https://docs.pivotal.io/ops-manager/<%= product_info['local_product_version'].to_s.sub('.','-') %>/security/pcf-infrastructure/api-cert-rotation.html).


## <a id="capacity"></a> Check the Capacity of Your Deployment

These sections describe steps for ensuring your deployment has adequate capacity to perform the upgrade.

### <a id="confirm-om-disk"></a> Confirm Adequate Disk Space

<%= partial 'check_disk_before_upgrade' %>

### <a id="check-diego-cell-ram-and-disk"></a> Check Diego Cell RAM and Disk

Check that Diego Cells have sufficient available RAM and disk capacity to support app containers.

The KPIs that monitor these these resources are are:

* `rep.CapacityRemainingMemory`
* `rep.CapacityRemainingDisk`

### <a id="adjust-diego-cell-limits"></a> Adjust Diego Cell Limits

If needed, adjust the maximum number of Diego Cells that the platform can upgrade simultaneously, to avoid overloading the other Diego Cells. For more information, see [Limit Component Instance Restarts](configuring.html#limit-restart) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

The maximum number of Diego Cells that can update at once, `max_in_flight`, is 4%. This setting is configured in the BOSH manifest's Diego Cell definition. For more information, see [Prevent Overload](configuring.html#limitations-considerations) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

For more information about these KPIs, see [Diego Cell Metrics](../monitoring/kpi.html#Cell) in _Key Performance Indicators_.

### <a id="storage"></a> Review File Storage IOPS and Other Upgrade Limiting Factors

During the <%= vars.platform_name %> upgrade process, a large quantity of data is moved around on disk.

To ensure a successful upgrade of your deployment, verify that your underlying <%= vars.app_runtime_abbr %> file storage is performant enough to handle the upgrade. For more information about the configurations to evaluate, see [Configure File Storage](configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

In addition to file storage IOPS, consider additional existing deployment factors that can impact overall upgrade duration and performance:

| **Factor** | **Impact** |
| ---------- | ---------- |
| **Network latency** | Network latency can contribute to how long it takes to move app instance data to new containers. |
| **Number of ASGs** | A large number of App Security Groups (ASGs) in your deployment can contribute to an increase in app instance container startup time. For more information, see [App Security Groups](../concepts/asg.html). |
| **Number of app instances and app growth** | A large increase in the number of app instances and average droplet size since the initial deployment can increase the upgrade impact on your system. |

For example upgrade-related performance measurements of an existing production deployment,
see [Upgrade Load Example: Pivotal Web Services During Upgrade](../opsguide/pws_upgrade_load.html).

### <a id="bosh-clean-up"></a> Run BOSH Clean-Up

To clean up old stemcells, releases, orphaned disks, and other resources before upgrade:

1. Run:

	```
	bosh -e ALIAS clean-up --all
	```
	Where `ALIAS` is your BOSH deployment alias.

This cleanup helps prevent the product and stemcell upload process from exceeding the BOSH Director's available persistent disk space.


## <a id="health"></a> Check the Health of Your Deployment

These sections describe steps for ensuring your deployment is healthy before you perform the upgrade.

### <a id="collect-foundation-health-status"></a> Collect Foundation Health Status

For collecting foundation health status, <%= vars.company_name %> recommends Healthwatch,
which monitors and alerts on the current health, performance,
and capacity of your <%= vars.platform_name %> deployment.
For more information, see the [Healthwatch](https://docs.pivotal.io/platform/healthwatch/index.html) documentation.

If you are not using Healthwatch, you can do some or all of the following to collect foundation health status:

* If your <%= vars.platform_name %> deployment has external metrics monitoring set up, verify that VM CPU, RAM, and disk use levels are within reasonable levels.

* Check your system status.
	* To check the status of your BOSH instances, run:

		```
		bosh -e ALIAS -d DEPLOYMENT-NAME instances --ps
		```
		Where:
		* `ALIAS` is your BOSH deployment alias.
		* `DEPLOYMENT-NAME` is the name of the BOSH deployment with the instances you want to check.
		<br>
		<br>
		Running `bosh instances` with the flags `--ps`, `--vitals`, or `--failing` reveals individual job failure.
	* To check the status of your BOSH VMs, run:

		```
		bosh -e ALIAS vms --vitals
		```
		Where `ALIAS` is your BOSH deployment alias.
		<br>
		<br>
		This command reveals VMs with high CPU, high memory, high disk utilization, and with a `state` other than `running`.
	* To check the status of your BOSH cloud config, run:

		```
		bosh -e ALIAS -d DEPLOYMENT-NAME cck --report
		```
		Where:
		* `ALIAS` is your BOSH deployment alias.
		* `DEPLOYMENT-NAME` is the name of the BOSH deployment with the cloud config you want to check.

* Check the **Status** tab of each <%= vars.app_runtime_abbr %> tile for VM CPU, RAM, and disk use levels.

* Check that <%= vars.ops_manager %> persistent disk usage is below 50%. If not, follow the procedure in [Confirm Adequate Disk Space](#confirm-om-disk).

* (Optional) Check the logs for errors before proceeding with the upgrade. For more information, see [Viewing Logs in the Command Line Interface](../devguide/deploy-apps/streaming-logs.html#view) in _App Logging in <%= vars.app_runtime_abbr %>_.

### <a id="push-test-app"></a> Push and Scale a Test App

Check that a test app can be pushed and scaled horizontally, manually, or through automated testing. This check ensures that the platform supports apps as expected before the upgrade.

### <a id="validate-mysql-cluster-health"></a> Validate MySQL Cluster Health

If you are running <%= vars.app_runtime_abbr %> MySQL as a cluster, run the `mysql-diag` tool to validate health of the cluster.

For BOSH CLI v2 instructions, see [Running mysql-diag](../mysql/mysql-diag.html).

### <a id="check-health"></a> Review Pending and Recent Changes

To review pending and recent changes:

1. Confirm there are no outstanding changes in <%= vars.ops_manager %> or any other tile. All tiles should be green. If all tiles are not green, click **Review Pending Changes**, then click **Apply Changes**.

1. After applying changes, click **Recent Install Logs** to confirm that the changes completed cleanly. You should see the following output:

    ```
    Cleanup complete
    {"type": "step_finished", "id": "clean_up_bosh.cleaning_up"}
    Exited with 0.
    ```


## <a id="export"></a> Export Your Installation

To export your installation:

1. In the <%= vars.ops_manager %> Installation Dashboard, click the account dropdown and select **Settings**.

    <%= image_tag("./images/upgrade_to_1.9.png") %>

1. On the **Settings** page, select **Export Installation Settings** from the left menu, then click **Export Installation Settings**.

This exports the current <%= vars.platform_name %> installation with all of its assets.

When you export an installation, the export contains the base VM images, necessary packages, and configuration settings, but does not include releases between upgrades if <%= vars.platform_name %> has already uploaded them to BOSH. When backing up your deployment, you must take this into account by backing up the BOSH blobstore that contains the uploaded releases. BOSH Backup and Restore (BBR) backs up the BOSH blobstore. For more information, see [Backing Up Deployments with BBR](../customizing/backup-restore/backup-pcf-bbr.html).

* The export time depends on the size of the exported file.

* Some browsers do not provide feedback on the status of the export process and might appear to hang.

<p class="note"><strong>Note:</strong> Some operating systems automatically unzip the exported installation. If this occurs, create a ZIP file of the unzipped export. Do not start compressing at the "installation" folder level. Instead, start compressing at the level containing the <code>rails_database_dump.postgres</code> file, as shown in the example image below:</p>

<%= image_tag("./images/compress.png") %>

## <a id="next-steps"></a> Next Steps

Now that you have completed the Upgrade Preparation Checklist, continue to [Upgrading <%= vars.platform_name %>](../customizing/upgrading-pcf.html).
